<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">title</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous" />
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
</head>
<body>

    <nav th:fragment = "nav" class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/users/me">CryptoAlerts</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li th:if = "${userNav == true}" class = "nav-item alert-padding">
                    <a class = "nav-link" href = "/users/me/create"><span class = "fa fa-plus-square large-font text-info"></span> New Alert</a>
                </li>
                <li th:if = "${userNav == false}" class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li th:if = "${userNav == false}" class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                </li>

                <li th:if = "${userNav == true}" class="nav-item dropdown user-padding">
                    <a class="nav-link dropdown-toggle pointer" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Zach
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/users/me">Alerts</a>
                        <a class="dropdown-item" href="/users/me/settings">Settings</a>
                        <div class="dropdown-divider"></div>
                        <form th:action = "@{/logout}" method = "POST">
                            <input class="dropdown-item pointer" type = "submit" value = "Logout"/>
                        </form>
                    </div>
                </li>

            </ul>
        </div>
    </nav>

</body>
</html>